#block-views-block-page-banner-block-1 {
  position: relative;
  .views-field-field-banner-image {
    position: relative;
  }
  .views-field-field-banner-caption {
    padding: 10px 30px;
    background-color: $brand-primary;
    color: #fff;
    font-size: 18px;
  }
}

@media (min-width: 600px) {
  #block-views-block-page-banner-block-1 .views-field-field-banner-caption {
    bottom: 40px;
    left: 0;
    position: absolute;
    max-width: 370px;
  }
}

@media (max-width: 599px) {
  #block-views-block-page-banner-block-1 .views-field-field-banner-caption {
    padding: 10px 15px;
  }
}
