#block-resincolours,
.resin-colours-range {
  img {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  h3 {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  #block-resincolours,
  .resin-colours-range {
    .row > div:nth-child(3) {
      margin-right: 1px;
    }
  }

  .resin-colours-range {
    .resin-colour-item {
      min-height: 210px;
    }
  }
}

@media (min-width: 992px) {
  .resin-colours-range {
    .resin-colour-item {
      min-height: 245px;
    }
  }
}

@media (max-width: 767px) {
  .resin-colours-range {
    .resin-colour-item {
      min-height: 215px;
    }
  }
}