#block-heroleft {
  margin-top: 15px;
  color: #707070;
}

#block-heroright {
  .field--name-body {
    a {
      color: #fff;
      text-decoration: none !important;
      display: block;
      background-color: $brand-secondary;
      padding: 6px 16px 5px 16px;
      margin-bottom: 10px;
      -webkit-border-radius: 0 0 10px 10px;
      -moz-border-radius: 0 0 10px 10px;
      border-radius: 0 0 10px 10px;
      max-width: 200px;
      font-size: 23px;
      font-weight: 600;
    }
    a:hover {
      background-color: #9d564f;
    }
  }
}

@media (min-width: $screen-sm-min) {
  #block-heroright {
    .field--name-body {
      text-align: right;
      float: right;
    }
  }
}

@media (max-width: $screen-xs-max) {
  #block-heroright {
    .field--name-body {
      a {
        margin: 0 auto 10px;
        text-align: center;
        border-radius: 0 0 15px 15px;
        padding: 11px 26px 10px 26px;
        width: 100%;
        max-width: unset !important;

        background-image: url('/sites/default/files/icons/scresin-icon-phone.svg');
        background-position: left 7vw center;
        background-size: 20px;
        background-repeat: no-repeat;
      }
    }
  }
}