.region-sidebar-second {
  & > .block {
    margin-bottom: 30px;
  }
}

.region-quote {
  @include box-shadow(0 2px 10px -3px rgba(0, 0, 0, 0.25));
  margin-bottom: 30px;
  #block-sidebarfreequote {
    margin-bottom: 0;
    .free-quote-intro {
      background-color: $brand-primary;
      color: #fff;
      font-size: 19px;
      font-weight: 600;
      padding: 20px 15px;
    }
    .free-quote-summary {
      background-color: #fff;
      padding: 15px;
    }
  }
  #block-webform {
    padding: 0 15px 15px;
    label {
      display: none !important;
    }
    input {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      font-size: 18px;
      padding: 25px 12px;
      border-color: #e8e8e8;
    }
    button.webform-button--submit {
      display: block;
      background: $brand-secondary;
      border: none;
      border-radius: 0;
      width: 100%;
      padding: 12px;
      font-size: 18px;
      font-weight: bold;
    }
    ::placeholder { /* Firefox, Chrome, Opera */
      color: $brand-primary;
      text-transform: lowercase;
      font-weight: bold;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $brand-primary;
      text-transform: lowercase;
      font-weight: bold;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
      color: $brand-primary;
      text-transform: lowercase;
      font-weight: bold;
    }
  }
}

#block-defaultsidebarquote {
  background-color: $brand-primary;
  font-family: $headings-font-family;
  color: #fff;
  padding: 30px 15px;
  font-size: 28px;
  text-align: center;
}

#block-approvedcontractor {
  font-family: $headings-font-family;
  font-size: 20px;
}