/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';

$brand-primary: #4D74AD;
$brand-secondary: #BA7066;
$brand-grey: #3E3D47;

$font-family-sans-serif:  proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       poynter-oldstyle-display, Georgia, "Times New Roman", Times, serif;
$font-family-base:        $font-family-sans-serif;
$headings-font-family:    $font-family-serif;